{% extends "layout/base.html" %}
{% block title %}
  İş İlanı Ara
{% endblock %}
{% block content %}

  <div class="p-4 flex flex-col h-fit mb-4 rounded-lg bg-white">
    <div class="mb-4">
      <h1 class="text-4xl font-extrabold font-kanit">İlan Ara</h1>
      <p class="text-stone-950 font-medium">
        Yeteneklerinize, kriterlerinize ve çalışma tarzınıza göre arayın.
      </p>
    </div>
    <div class="my-auto">
      <form class="flex items-center">
        <label for="simple-search" class="sr-only">Ara</label>
        <div class="relative w-fit">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" aria-hidden="true" viewbox="0 0 512 512">
              <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
            </svg>
          </div>
          <input type="text" id="simple-search" class="border border-black text-gray-900 text-sm rounded-lg focus:ring-black focus:border-black block w-full ps-10 p-2.5" placeholder="İlan ara..." required="required"/>
        </div>
        <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-black border-black bg-navbar rounded-lg border border-yellow hover:bg-yellow-200 focus:ring-4 focus:outline-none focus:ring-yellow-200">
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
          <span class="sr-only">Search</span>
        </button>
      </form>
    </div>
  </div>
  <div class="flex flex-col-reverse gap-4 mb-4 lg:flex-row ">

    <div class="grid grid-cols-1 gap-4 xl:grid-cols-2 2xl:grid-cols-3">

      <div class="card grid h-max p-6 bg-white rounded-lg">
        <div class="mb-2">
          <div class="flex items-center mb-3">
            <div class="flex-shrink-0">
              <img class="w-10 h-10 rounded-full" src="/images/profile.jpg" alt="Profile Photo"/>
            </div>
            <div class="flex-1 min-w-0 ms-4">
              <p class="text-sm font-medium truncate">Ahmet İlboga</p>
              <p class="text-sm font-mono truncate">21/12/2023</p>
            </div>
            <div class="action-icons text-2xl font-semibold">
              <button type="button" class="text-green-700">
                <i class="fa-regular fa-bookmark grid hover:bg-text-green-700 "></i>
              </button>
            </div>
          </div>
          <div class="mb-3">
            <h5 class="text-lg font-bold tracking-tight text-gray-900">
              Noteworthy technology acquisitions 2021
            </h5>
            <p class="text-sm font-normal text-gray-700">
              Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order. Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order. reverse chronological order. reverse order
            </p>

          </div>

        </div>
        <div class="flex justify-between items-center self-end">
          <div class="text-lg bg-green-50 rounded-lg p-2 w-fit font-bold">
            <p class="px-2">
              <i class="fa-solid fa-turkish-lira-sign text-green-500 mr-2"></i>200 - 1500</p>
          </div>
          <div>
            <button class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 " data-drawer-target="drawer-right-ilan-detay" data-drawer-show="drawer-right-ilan-detay" data-drawer-placement="right" aria-controls="drawer-right-ilan-detay">Detay</button>
          </div>
        </div>

      </div>

    </div>
    <div class="flex-1">
      <div id="kategori" class="rounded-lg lg:w-[30vh] sticky top-[100px] lg:h-[70vh] bg-white">
        <div class="text-center w-full p-4 rounded-t-lg bg-navbar mb-4 font-bold text-gray-800 text-2xl">
          Kategori
        </div>

        <div class="grid gap-4 p-3">

          <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
            <h2 id="accordion-flush-heading-1">
              <button type="button" class="flex items-center justify-between w-full py-3 font-medium text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                <span>
                  <i class="fa-solid fa-circle-check"></i>
                  İlan Durumu</span>
                <svg data-accordion-icon="data-accordion-icon" class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
              <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <fieldset>
                  <div class="flex items-center mb-4">
                    <input id="country-option-1" type="radio" name="countries" value="USA" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600" checked="checked"/>
                    <label for="country-option-1" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                      <i class="fa-solid fa-earth-europe"></i>
                      Açık
                    </label>
                  </div>

                  <div class="flex items-center mb-4">
                    <input id="country-option-2" type="radio" name="countries" value="Germany" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                    <label for="country-option-2" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                      <i class="fa-solid fa-check-double"></i>
                      Tamamlandı
                    </label>
                  </div>

                  <div class="flex items-center mb-4">
                    <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                    <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                      <i class="fa-solid fa-ban"></i>
                      İptal Edildi
                    </label>
                  </div>
                </fieldset>
              </div>
            </div>
            <h2 id="accordion-flush-heading-2">
              <button type="button" class="flex items-center justify-between w-full py-3 font-medium text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                <span>
                  <i class="fa-solid fa-calendar-days"></i>
                  Yayınlanma Tarihi</span>
                <svg data-accordion-icon="data-accordion-icon" class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
              <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <div class="mb-4">
                  <fieldset>
                    <div class="flex items-center mb-4">
                      <input id="country-option-1" type="radio" name="countries" value="USA" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600" checked="checked"/>
                      <label for="country-option-1" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Bugün
                      </label>
                    </div>

                    <div class="flex items-center mb-4">
                      <input id="country-option-2" type="radio" name="countries" value="Germany" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                      <label for="country-option-2" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        3 gün önce
                      </label>
                    </div>

                    <div class="flex items-center mb-4">
                      <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                      <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        7 gün önce
                      </label>
                    </div>

                    <div class="flex items-center mb-4">
                      <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                      <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        1 ay önce
                      </label>
                    </div>
                  </fieldset>
                </div>

                <div class="relative max-w-sm">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                  </div>
                  <input datepicker="datepicker" datepicker-autohide="datepicker-autohide" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Yayınlanma Tarihi">
                </div>

              </div>
            </div>
            <h2 id="accordion-flush-heading-3">
              <button type="button" class="flex items-center justify-between w-full py-3 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">
                <span>
                  <i class="fa-solid fa-flag-checkered"></i>
                  Son Teslim Tarihi</span>
                <svg data-accordion-icon="data-accordion-icon" class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
              <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <div class="mb-4">
                  <fieldset>
                    <div class="flex items-center mb-4">
                      <input id="country-option-1" type="radio" name="countries" value="USA" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600" checked="checked"/>
                      <label for="country-option-1" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Bugün
                      </label>
                    </div>

                    <div class="flex items-center mb-4">
                      <input id="country-option-2" type="radio" name="countries" value="Germany" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                      <label for="country-option-2" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        3 gün içinde
                      </label>
                    </div>

                    <div class="flex items-center mb-4">
                      <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                      <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        7 gün içinde
                      </label>
                    </div>

                    <div class="flex items-center mb-4">
                      <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                      <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        15 gün içinde
                      </label>
                    </div>

                    <div class="flex items-center mb-4">
                      <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                      <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        1 ay içinde
                      </label>
                    </div>
                    <div class="flex items-center mb-4">
                      <input id="country-option-3" type="radio" name="countries" value="Spain" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600"/>
                      <label for="country-option-3" class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        2 ay içinde
                      </label>
                    </div>
                  </fieldset>
                </div>

                <div class="relative max-w-sm">
                  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                  </div>
                  <input datepicker="datepicker" datepicker-autohide="datepicker-autohide" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Son Teslim Tarihi">
                </div>
              </div>
            </div>
            <h2 id="accordion-flush-heading-4">
              <button type="button" class="flex items-center justify-between w-full py-3 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-4" aria-expanded="false" aria-controls="accordion-flush-body-4">
                <span>
                  <i class="fa-solid fa-sack-dollar"></i>
                  Bütçe</span>
                <svg data-accordion-icon="data-accordion-icon" class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-4">
              <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                <div class="grid grid-cols-2 gap-4">
                  <input type="number" id="min" min="50" max="5000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="En az"/>

                  <input type="number" id="max" min="50" max="5000" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="En fazla"/>
                </div>
              </div>
            </div>
          </div>
          <button class="py-2 px-4 bg-colorYellow hover:bg-gold rounded-lg border border-black text-black">Filtrele</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}

  <script>
    const icons = document.querySelectorAll(".action-icons i");

    icons.forEach((icon) => {
      icon.addEventListener("mouseover", function () {
        icon
          .classList
          .toggle("fa-regular");
        icon
          .classList
          .toggle("fa-solid");
      });

      icon.addEventListener("mouseleave", function () {
        icon
          .classList
          .toggle("fa-regular");
        icon
          .classList
          .toggle("fa-solid");
      });
    });
  </script>
{% endblock %}