{% extends "layouts/base.html" %}
{% block title %}
    Hizmet Yayınla
{% endblock %}
{% block content %}

    <div class="mb-4">
        <div class="p-6 rounded-lg bg-white text-center">
            <h1 class="text-4xl font-kanit font-bold mb-3">
                Yeni Hizmet Oluştur
            </h1>
            <p class=" text-lg font-medium">🚀 Yeni bir Hizmet oluştur ve Deneyimlerini göster
            </p>
        </div>
    </div>
    <div class="p-4 lg:p-16 rounded-lg bg-white">
        <div class=" md:mx-16 lg:mx-24">
            <form action="#">
                <div class="grid gap-4 grid-cols-2 sm:gap-6 mb-3">
                    <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hizmet Başlığı</label>
                        <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="İlan Başlığı" required="">
                    </div>
                    <div class="col-span-2">
                        <label for="kisa-aciklama" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Kısa Açıklama
                            <span>(Min: 50 - Max: 250 karakter)</span></label>
                        <input type="text" minlength="50" maxlength="250" name="kisa-aciklama" id="kisa-aciklama" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="İlan hakkında kısa bir açıklama yazın" required="">
                    </div>
                    <div class="md:w-full col-span-2">

                        <label for="ilan-kategori" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hizmet Kategorisi</label>
                        <select id="ilan-kategori" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="selected">Hizmet Kategorisini seçin</option>
                            <option value="web-yazilim">Web Yazılım</option>
                            <option value="bot-yazilim">Bot Yazılımı</option>
                            <option value="mobil-uygulamalar">Mobil Uygulamalar</option>
                            <option value="e-ticaret">E-Ticaret</option>
                            <option value="masaüstü-uygulamalar">Masaüstü Uygulamalar</option>
                            <option value="domain-hosting-hizmetleri">Domain & Hosting Hizmetleri</option>
                            <option value="son-kullanici-testleri">Son Kullanıcı Testleri</option>
                            <option value="teknoloji-destek">Teknoloji Destek</option>
                            <option value="wordpress">Wordpress</option>
                            <option value="web-sitesi-olusturucular-cms">Web Sitesi Oluşturucular & CMS
                            </option>
                            <option value="oyun-gelistirme">Oyun Geliştirme</option>
                            <option value="server-websitesi-kurulumu">Server & Websitesi Kurulumu</option>
                            <option value="data-analizi-raporlama">Data Analizi & Raporlama</option>
                            <option value="soru-cevap-dersler">Soru Cevap & Dersler</option>
                            <option value="diger-yazilim-teknoloji">Diğer Yazılım & Teknoloji</option>
                        </select>

                    </div>
                    <div class="md:w-full col-span-2">
                        <label for="ucret" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ücret
                        </label>
                        <input type="number" name="ucret" id="ucret" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="1500 ₺" required="">
                    </div>

                    <div class="md:w-full col-span-2">
                        <label for="tahmini-teslim-suresi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tahmini Teslim Süresi</label>
                        <select id="tahmini-teslim-suresi" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="selected">Tahmini Teslim Süresini seçin</option>
                            <option value="1-gun">1 Gün İçinde</option>
                            <option value="3-gun">3 Gün İçinde</option>
                            <option value="1-hafta">1 Hafta İçinde</option>
                            <option value="15-gun">15 Gün İçinde</option>
                            <option value="1-ay">1 Ay İçinde</option>
                            <option value="2-ay">2 Ay İçinde</option>
                        </select>
                    </div>
                    <div id="tarih-sec" class="hidden col-span-2">
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>
                            <input datepicker="datepicker" datepicker-autohide="datepicker-autohide" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Son Teslim Tarihi">
                        </div>
                    </div>
                    <div class="col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Resim Yükle</label>
                        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="user_avatar" type="file" multiple="multiple">
                        <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">
                            Projeniz ile ilgili eklemek istediğiniz resimleri seçebilirsiniz</div>
                    </div>
                    <div class="col-span-2">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Açıklama</label>
                        <textarea id="description" class="block min-h-32 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Açıklamınızı detaylı ve anlaşılır bir şekilde yazınız lütfen."></textarea>
                    </div>
                </div>
                <div class="flex flex-row">
                    <button type="submit" class="focus:outline-none flex items-center bg-navbar hover:bg-yellow-300 focus:ring-4 focus:ring-yellow-300 border border-black text-black font-medium rounded-lg text-xs md:text-sm px-3 md:px-5 py-2 md:py-2.5 me-2 mb-2">
                        <span>Hizmeti Yayınla</span>
                        <img src="/images/logos/Untitled-1-03.svg" class=" h-8 w-8" alt="İlanı Yayınla"/></button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}