<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Open+Sans:wght@400;700&family=Roboto+Condensed:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stil dosyalarım -->
    <link href="../public/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container bg-navbar-gradient">
      <h1 class="text-3xl font-bold text-yellow font-kanit">Hello world!</h1>
    </div>
  </body>
</html>
