{% extends "layouts/base.html" %}
{% block title %}
    İş İlanı Yayınla
{% endblock %}
{% block content %}

    <div class="mb-4">
        <div class="p-6 rounded-lg bg-white text-center">
            <h1 class="text-4xl font-kanit font-bold mb-3">
                Yeni İlan Yayınla
            </h1>
            <p class=" text-lg font-medium">🚀 Yeni ilan yayınlayın ve işinize uygun Freelancer'ı hızlıca bulun.
            </p>
        </div>
    </div>
    <div class="p-4 lg:p-16 rounded-lg bg-white">
        <div class=" md:mx-16 lg:mx-24">
            <form action="#">
                <div class="grid gap-4 grid-cols-2 sm:gap-6 mb-3">
                    <div class="col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">İlan Başlığı</label>
                        <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="İlan Başlığı" required="">
                    </div>
                    <div class="col-span-2">
                        <label for="kisa-aciklama" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Kısa Açıklama
                            <span>(Min: 50 - Max: 250 karakter)</span></label>
                        <input type="text" minlength="50" maxlength="250" name="kisa-aciklama" id="kisa-aciklama" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="İlan hakkında kısa bir açıklama yazın" required="">
                    </div>
                    <div class="md:w-full col-span-2">

                        <label for="ilan-kategori" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">İlan Kategorisi</label>
                        <select id="ilan-kategori" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="selected">İlan Kategorisini seçin</option>
                            <option value="grafik-tasarim">Grafik & Tasarım</option>
                            <option value="internet-programciligi">İnternet</option>
                            <option value="yazi-ceviri">Yazı & Çeviri</option>
                            <option value="video-animasyon">Video & Animasyon</option>
                            <option value="ses-muzik">Ses & Müzik</option>
                            <option value="yazilim-teknoloji">Yazılım & Teknoloji</option>
                            <option value="is-yonetim">İş & Yönetim</option>
                        </select>

                    </div>
                    <div class="md:w-full col-span-2">

                        <label for="alt-kategori" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alt Kategori</label>
                        <select id="alt-kategori" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="selected">Alt Kategori seçin</option>
                        </select>

                    </div>
                    <div class="md:w-full col-span-2">
                        <label for="butce" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bütçe
                        </label>
                        <input type="number" name="butce" id="butce" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="1500 ₺" required="">
                    </div>

                    <div class="md:w-full col-span-2">
                        <label for="son-teslim-tarihi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Son Teslim Tarihi</label>
                        <select id="son-teslim-tarihi" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected="selected">Son Teslim Tarihini seçin</option>
                            <option value="1-gun">1 Gün İçinde</option>
                            <option value="3-gun">3 Gün İçinde</option>
                            <option value="1-hafta">1 Hafta İçinde</option>
                            <option value="15-gun">15 Gün İçinde</option>
                            <option value="1-ay">1 Ay İçinde</option>
                            <option value="2-ay">2 Ay İçinde</option>
                            <option value="tarih-belirle">Bir Tarih Belirle</option>
                            <option value="kisitlama-yok">Süre Kısıtlaması yok</option>
                        </select>
                    </div>
                    <div id="tarih-sec" class="hidden col-span-2">
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>
                            <input datepicker="datepicker" datepicker-autohide="datepicker-autohide" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Son Teslim Tarihi">
                        </div>
                    </div>
                    <div class="col-span-2">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Resim Yükle</label>
                        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="user_avatar" type="file">
                        <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">
                            Projeniz ile ilgili eklemek istediğiniz resimleri seçebilirsiniz</div>
                    </div>
                    <div class="col-span-2">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Açıklama</label>
                        <textarea id="description" class="block min-h-32 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Açıklamınızı detaylı ve anlaşılır bir şekilde yazınız lütfen."></textarea>
                    </div>
                </div>
                <div class="flex flex-row">

                    <button type="submit" class="focus:outline-none flex items-center bg-navbar hover:bg-yellow-300 border border-black text-black focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-xs md:text-sm px-3 md:px-5 py-2 md:py-2.5 me-2 mb-2">
                        <span>İlanı Yayınla</span>
                        <img src="/images/logos/Untitled-1-03.svg" class=" h-8 w-8" alt="İlanı Yayınla"/></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script>
        const alt_kategoriler = {
            "grafik-tasarim": [
                [
                    "Logo Tasarım", "logo-tasarim"
                ],
                [
                    "Reklam & Banner Tasarımı", "3d-tasarim"
                ],
                [
                    "UI UX Tasarım", "ui-ux-tasarim"
                ],
                [
                    "illustrasyon", "illustrasyon"
                ],
                [
                    "Fotoğraf Düzenleme", "fotograf-duzenleme"
                ],
                [
                    "Dövme Sanatı", "dovme-sanati"
                ],
                [
                    "Kurumsal Kimlik & Kartvizit", "kurumsal-kimlik-kartvizit"
                ],
                [
                    "Davetiye Tasarımları", "davetiye-tasarimlari"
                ],
                [
                    "Yayıncılar İçin Tasarımlar", "yayincilar-icin-tasarimlar"
                ],
                [
                    "Broşür & Katalog Tasarımı", "brosur-katalog-tasarimi"
                ],
                [
                    "Oyun Sanatı", "oyun-sanati"
                ],
                [
                    "Sosyal Medya Tasarımları", "sosyal-medya-tasarimlari"
                ],
                [
                    "Ambalaj Tasarımı", "ambalaj-tasarimi"
                ],
                [
                    "Storyboard Tasarımı", "storyboard-tasarimi"
                ],
                [
                    "Sunum İnfografik", "sunum-infografik"
                ],
                [
                    "Karikatür & Karakalem", "karikatur-karakalem"
                ],
                [
                    "Diğer Tasarımlar", "diger-tasarimlar"
                ]
            ],

            "internet-programciligi": [
                [
                    "Arama Motoru Optimizasyonu (SEO)", "arama-motoru-optimizasyonu"
                ],
                [
                    "Sosyal Medya Yönetimi", "sosyal-medya-yonetimi"
                ],
                [
                    "Web Analytics & İzleme", "web-analytics-izleme"
                ],
                [
                    "Influencer Marketing", "influencer-marketing"
                ],
                [
                    "Reklam Yönetimi", "reklam-yonetimi"
                ],
                [
                    "Mobil Reklamcılık", "mobil-reklamcilik"
                ],
                [
                    "Diğer İnternet Programcılığı", "diger-internet-programciligi"
                ]
            ],
            "yazi-ceviri": [
                [
                    "Çeviri", "ceviri"
                ],
                [
                    "Web Sitesi İçeriği", "web-sitesi-icerigi"
                ],
                [
                    "Senaryo & Yaratıcı Metin", "senaryo-yaratici-metin"
                ],
                [
                    "Basın Bülteni", "basin-bülteni"
                ],
                [
                    "CV & Ön Yazı", "cv-on-yazi"
                ],
                [
                    "Metin Yazarlığı", "metin-yazarligi"
                ],
                [
                    "Redaksiyon & Metin Düzenleme", "redaksiyon-metin-duzenleme"
                ],
                [
                    "Deşifre", "desifre"
                ],
                [
                    "Marka Adı & Slogan", "marka-adi-slogan"
                ],
                [
                    "Yorum & İnceleme", "yorum-inceleme"
                ],
                [
                    "Diğer Yazı & Çeviri", "diger-yazi-ceviri"
                ]
            ],
            "video-animasyon": [
                [
                    "Introlar", "introlar"
                ],
                [
                    "Video Reklamlar", "video-reklamlar"
                ],
                [
                    "Video Prodüksiyon", "video-produksiyon"
                ],
                [
                    "Oyunculu Tanıtım Videoları", "oyunculu-tanitim-videolari"
                ],
                [
                    "Animasyon & 3D", "animasyon-3d"
                ],
                [
                    "Kurgu & Post Prodüksiyon", "kurgu-post-produksiyon"
                ],
                [
                    "Yayıncılar İçin Videolar", "yayincilar-icin-videolar"
                ],
                [
                    "Diğer Videolar", "diger-videolar"
                ]
            ],

            "ses-muzik": [
                [
                    "Seslendirme", "seslendirme"
                ],
                [
                    "Mix & Mastering", "mix-mastering"
                ],
                [
                    "Beste & Şarkı Yazarlığı", "beste-sarki-yazarligi"
                ],
                [
                    "Jingle & Reklam Müziği", "jingle-reklam-muzigi"
                ],
                [
                    "Podcast Düzenleme", "podcast-duzenleme"
                ],
                [
                    "Diğer Ses & Müzik", "diger-ses-muzik"
                ]
            ],

            "yazilim-teknoloji": [
                [
                    "Web Yazılım", "web-yazilim"
                ],
                [
                    "Bot Yazılımı", "bot-yazilim"
                ],
                [
                    "Mobil Uygulamalar", "mobil-uygulamalar"
                ],
                [
                    "E-Ticaret", "e-ticaret"
                ],
                [
                    "Masaüstü Uygulamalar", "masaüstü-uygulamalar"
                ],
                [
                    "Domain & Hosting Hizmetleri", "domain-hosting-hizmetleri"
                ],
                [
                    "Son Kullanıcı Testleri", "son-kullanici-testleri"
                ],
                [
                    "Teknoloji Destek", "teknoloji-destek"
                ],
                [
                    "Wordpress", "wordpress"
                ],
                [
                    "Web Sitesi Oluşturucular & CMS", "web-sitesi-olusturucular-cms"
                ],
                [
                    "Oyun Geliştirme", "oyun-gelistirme"
                ],
                [
                    "Server & Websitesi Kurulumu", "server-websitesi-kurulumu"
                ],
                [
                    "Data Analizi & Raporlama", "data-analizi-raporlama"
                ],
                [
                    "Soru Cevap & Dersler", "soru-cevap-dersler"
                ],
                [
                    "Diğer Yazılım & Teknoloji", "diger-yazilim-teknoloji"
                ]
            ],

            "is-yonetim": [
                [
                    "Pazar Araştırmaları", "pazar-arastirmalari"
                ],
                [
                    "Marka Hizmetleri", "marka-hizmetleri"
                ],
                [
                    "Sanal Asistanlık", "sanal-asistanlik"
                ],
                [
                    "Ürün & Veri Girişi", "urun-veri-girisi"
                ],
                [
                    "Excel İşleri", "excel-isleri"
                ],
                [
                    "Danışmanlıklar", "danismanliklar"
                ],
                [
                    "Satış & Müşteri Bulma", "satis-musteri-bulma"
                ],
                [
                    "Diğer İş Yönetimi", "diger-is-yonetim"
                ]
            ]
        }
        const ilan_kategori = document.querySelector("#ilan-kategori")
        ilan_kategori.addEventListener("change", (e) => {
            let altKategoriSelect = document.querySelector("#alt-kategori")
            altKategoriSelect.innerHTML = ""
            let valueOptionKategori = e.target.value
            let altKategori = alt_kategoriler[valueOptionKategori]

            if (altKategori) {
                altKategori.forEach((kategori) => {
                    altKategoriSelect.add(new Option(kategori[0], kategori[1]))
                })
            } else {
                console.log("Böyle Bir Alt Kategori Yok")
            }
        })

        const sonTeslimTarihi = document.querySelector("#son-teslim-tarihi")
        sonTeslimTarihi.addEventListener("change", (e) => {
            let selectDateElement = document.querySelector("#tarih-sec")
            let tarihSec = e.target.value
            if (tarihSec === "tarih-belirle") {
                if (selectDateElement.classList.contains("hidden")) {
                    selectDateElement
                        .classList
                        .remove("hidden");
                }
            } else {
                if (!selectDateElement.classList.contains("hidden")) {
                    selectDateElement
                        .classList
                        .add("hidden");
                }
            }
        })
    </script>
{% endblock %}