{% extends "layouts/base.html" %}
{% block title %}
    Not Found
{% endblock %}
{% block content %}
    <div class="mx-auto grid place-items-center h-screen">
        <div class="px-8 py-8 ">
            <div class="grid-cols-3">
                <div class="text-center">
                    <h1 class="text-6xl text-sky-800 font-bold p-4">404</h1>
                    <p class="text-2xl mb-3 font-semibold">Üzgünüz, aradığınız sayfayı bulamadık</p>
                    <button class="rounded-lg text-base p-2 bg-blue-700 text-white">
                        <span class="px-2">Anasayfa</span></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}