{% extends "layouts/base.html" %}
{% block title %}
    Giriş Yap
{% endblock %}
{% block content %}

    <div class="mx-auto grid place-items-center h-screen p-4">
        <div class=" w-full lg:w-2/5">
            <div class="bg-white rounded-lg p-4 w-full flex items-center mb-4">
                <div>
                    <img src="/images/logos/Untitled-1-01.svg" class="w-20 h-20 fill-none" alt="">
                </div>
                <div class="text-3xl md:text-5xl font-bold text-colorYellow">NeeWork</div>
            </div>
            <div class="bg-white rounded-lg p-4 w-full  px-4 md:px-6">
                <div class=" text-2xl md:text-3xl font-bold font-roboto text-gray-800 mb-2 py-4">
                    Giriş Yap
                </div>
                <form class="space-y-4 md:space-y-6" action="#">

                    <div>
                        <label for="email-username" class="block mb-2 text-sm font-medium text-gray-900">E-Posta yada Kullanıcı Adı</label>
                        <input type="text" name="email-username" id="email-username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 " placeholder="E-Postanızı yada Kullanıcı adınızı girin" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Şifre</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2" required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-500 ">Beni hatırla</label>
                            </div>
                        </div>
                        <a href="#" class="text-sm font-medium  hover:underline ">Şifremi Unuttum</a>
                    </div>
                    <div>
                        <button type="submit" class=" text-black bg-colorYellow hover:bg-gold focus:ring-2 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Giriş Yap</button>
                    </div>
                    <p class="text-sm font-light text-gray-500 ">
                        Bir Hesabın yok mu?
                        <a href="#" class="font-medium hover:underline ">Kayıt Ol</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}