{% extends "layouts/base.html" %}
{% block title %}
    Kayıt Ol
{% endblock %}
{% block content %}

    <div class="mx-auto grid place-items-center h-screen p-4">
        <div class="w-full lg:w-2/5">
            <div class="bg-white rounded-lg p-4  flex items-center mb-4">
                <div><img src="/images/logos/Untitled-1-01.svg" class="w-20 h-20 fill-none" alt="">
                </div>
                <div class="text-3xl md:text-5xl font-bold text-colorYellow">NeeWork</div>
            </div>
            <div class="px-4 md:px-6 bg-white rounded-lg p-4 ">
                <div id="sign-up-header" class=" text-2xl md:text-3xl font-bold font-roboto text-gray-800 mb-2 py-4">
                    Kayıt Ol
                </div>
                <div id="kayit-form-1">
                    <form class="grid grid-cols-2 gap-4" action="#">
                        <div class="max-w-full col-span-2">
                            <div class="flex flex-row gap-2 items-center">
                                <div class=" grow">
                                    <label for="ad" class="block mb-2 text-sm font-medium text-gray-900 ">Ad</label>
                                    <input type="text" name="ad" id="ad" placeholder="Ahmet" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                                </div>
                                <div class=" grow">
                                    <label for="soyad" class="block mb-2 text-sm font-medium text-gray-900 ">Soyad</label>
                                    <input type="text" name="soyad" id="soyad" placeholder="İlboga" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                                </div>
                            </div>

                        </div>
                        <div class="col-span-2">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-Posta</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 " placeholder="example@gmail.com" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="kullanici-adi" class="block mb-2 text-sm font-medium text-gray-900">Kullanıcı Adı</label>
                            <input type="text" name="kullanici-adi" id="kullanici-adi" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 " placeholder="ahmetilboga47" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Şifre</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                        </div>
                        <div class="col-span-2">
                            <label for="passwor2" class="block mb-2 text-sm font-medium text-gray-900 ">Şifre Tekrar</label>
                            <input type="password" name="password2" id="password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                        </div>
                        <div class="col-span-2 flex justify-end">
                            <button type="submit" class=" text-black bg-colorYellow hover:bg-gold focus:ring-2 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Kayıt Ol
                                <i class="fa-solid fa-arrow-right ml-1"></i>
                            </button>
                        </div>
                        <div class="col-span-2 ">
                            <p class="text-sm font-light text-gray-500 ">
                                Zaten bir hesabın var mı?
                                <a href="#" class="font-medium hover:underline ">Giriş Yap</a>

                            </p>
                        </div>
                    </form>
                </div>
                <div class="hidden" id="kayit-form-2">
                    <form class="" action="#">

                        <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Müşterimisin yoksa bir Freelancer'misin ?</h3>
                        <ul class="grid w-full gap-6 mb-4">
                            <li>
                                <input type="radio" id="customer" name="userType" value="customer" class="hidden peer">
                                <label for="customer" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer  peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                                    <div class="block">
                                        <div class="w-full text-lg font-semibold">Müşteri</div>
                                    </div>

                                    <i class="fa-solid fa-user w-5 h-5 ms-3"></i>
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="freelancer" name="userType" value="freelancer" class="hidden peer">
                                <label for="freelancer" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer  peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                                    <div class="block">
                                        <div class="w-full text-lg font-semibold">Freelancer</div>
                                    </div>

                                    <i class="fa-solid fa-laptop w-5 h-5 ms-3"></i>

                                </label>
                            </li>
                        </ul>

                        <div class="col-span-2 flex justify-end">
                            <div>
                                <button type="submit" class=" text-black bg-colorYellow hover:bg-gold focus:ring-2 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Devam Et<i class="fa-solid fa-arrow-right ml-1"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="hidden" id="kayit-form-3">
                    <form class="grid grid-cols-2 gap-4" action="#">
                        <div class="max-w-full col-span-2">
                            <div class="flex flex-row gap-2 items-center">
                                <div class=" grow">
                                    <label for="ad" class="block mb-2 text-sm font-medium text-gray-900 ">Ad</label>
                                    <input type="text" name="ad" id="ad" placeholder="Ahmet" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                                </div>
                                <div class=" grow">
                                    <label for="soyad" class="block mb-2 text-sm font-medium text-gray-900 ">Soyad</label>
                                    <input type="text" name="soyad" id="soyad" placeholder="İlboga" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                                </div>
                            </div>

                        </div>
                        <div class="col-span-2">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">E-Posta</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 " placeholder="example@gmail.com" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="kullanici-adi" class="block mb-2 text-sm font-medium text-gray-900">Kullanıcı Adı</label>
                            <input type="text" name="kullanici-adi" id="kullanici-adi" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 " placeholder="ahmetilboga47" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Şifre</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                        </div>
                        <div class="col-span-2">
                            <label for="passwor2" class="block mb-2 text-sm font-medium text-gray-900 ">Şifre Tekrar</label>
                            <input type="password" name="password2" id="password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 " required="">
                        </div>
                        <div class="col-span-2 flex justify-end">
                            <button type="submit" class=" text-black bg-colorYellow hover:bg-gold focus:ring-2 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">Kayıt Ol
                                <i class="fa-solid fa-arrow-right ml-1"></i>
                            </button>
                        </div>
                        <div class="col-span-2 ">
                            <p class="text-sm font-light text-gray-500 ">
                                Zaten bir hesabın var mı?
                                <a href="#" class="font-medium hover:underline ">Giriş Yap</a>

                            </p>
                        </div>
                    </form>
                </div>
                <div class="hidden" id="sign-up-end">
                    <div class="flex justify-center items-center mb-4">
                        <div class="flex text-center flex-col items-center">
                            <div class="flex justify-center items-center bg-successfully p-4 rounded-full mb-3 opacity-75">
                                <img src="/images/logos/Untitled-1-04.svg" class="w-32 h-32 rotate-35" alt="">
                            </div>
                            <h2 class="text-4xl font-bold text-green-700 mb-2">
                                <span class="text-3xl">🎉</span>
                                Tebrikler
                                <span class="text-3xl">🎉</span></h2>
                            <h3 class="text-lg font-bold text-green-600">🥳 Kayıt işleminiz başarıyla tamamlandı..
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}